/* Archivo: assets/custom.css */

/* Estilos generales */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  /* Tipo de fuente */
    background-color: #1b1a1a;  /* Color de fondo */
    margin: 0;                    /* Elimina el margen */
    padding: 0;                   /* Elimina el relleno */
}

header {
    background: #faca0a;        /* Color de fondo del encabezado */
    padding: 10px 20px;           /* Relleno del encabezado */
    text-align: center;           /* Centrar el texto */
    position: fixed;              /* Fijar encabezado en la parte superior */
    top: 0;                       /* Posición superior */
    left: 0;                      /* Posición izquierda */
    width: 100%;                  /* Ancho de la página */
    z-index: 1000;                /* Para mostrar el encabezado por encima */
}

header h1 {
    color: #000000;        /* Cambia el color a negro */
}

nav a {
    color: #ffffff;        /* Color blanco para los enlaces */
    text-decoration: none;   /* Quita el subrayado */
}

main {
    padding: 100px 20px;    /* Añadir espacio arriba para la barra amarilla */
    margin-left: 16rem;     /* Espacio para la barra lateral */
}


article h2 {
    margin-top: 0;          /* Elimina el margen superior de los títulos */
}

footer {
    background: #333;     /* Color de fondo del pie de página */
    padding: 10px 0;        /* Relleno del pie de página */
    position: absolute;     /* Posicion del pie de página */
    bottom: 0;              /* Posición inferior */
    width: 100%;            /* Ancho de la página */
}

.container {
    width: 80%;             /* Ancho del contenedor */
    margin: auto;           /* Centrar el contenedor */
}

#logo {
    max-width: 4%;          /* Ancho del logo */
    height: auto;           /* Ajuste de la altura para la proporción */
    display: block;         
    margin: auto;           /* Centra el logo */
    position: absolute;     
    top: 10px;              /* Posición superior */
    left: 39%;              /* Posición izquierda */
    transform: translateX(-50%);     /* Ajuste para centrar */
}

.lead {
    color: #ffffff;                /* Color blanco del texto */
}

.sidebar-nav .nav-link {
    color: #ffffff;                /* Color blanco para enlaces de la barra */
}

.nav-pills .nav-link.active {
    color: #000000;                /* Color negro para el texto de los enlaces */
    background-color: #faca0a;     /* Color de fondo amarillo para los enlaces */
} 

/* Estilos para el dropdown */
.dropdown-container {
    background-color: #faca0a;                       /* Color de fondo del contenedor */
    color: #000;                                     /* Color de texto negro */
    width: 230px;                                      /* Ancho del contenedor */
    margin: 20px;                                      /* Ajuste de márgenes */
    padding: 0px;           
    border: none;                 
    border-radius: 5px;                                /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);       
    font-size: 16px;                                   /* Tamaño de fuente */
    transition: all 0.3s ease;
    margin-left: -145px;                               /* Ajuste del margen izquierdo */
    margin-top: 0px;                                   /* Ajuste del margen superior */
}


.dropdown-container .Select-control {
    background-color: #faca0a !important;            /* Color de fondo */
    color: #000 !important;                          /* Color del texto */
}

.dropdown-container .Select-menu-outer {
    background-color: #faca0a !important;            /* Color de fondo del menú */
    color: #000 !important;                          /* Color de texto del menú */
}

.dropdown-container .Select--single > .Select-control .Select-value {       
    color: #000 !important;                          /* Color del valor */
}

.dropdown-container .Select-control .Select-placeholder {
    color: #000 !important;                          /* Color del texto */
}

.dropdown-container .Select-control:hover {
    background-color: #e5b808 !important;            /* Color de fondo al seleccionar */
}

.dropdown-container .Select-control:focus { 
    outline: none;                                              /* Sin contorno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
}

/* Espacio debajo del encabezado y barra lateral */
.content {
    padding-top: 100px;              /* Espacio superior para el encabezado */
    margin-left: 18rem;              /* Espacio a la izquierda para la barra lateral */
}

/* custom.css */
.custom-slider .rc-slider-track {
    background-color: yellow;      /* Cambia el color a amarillo */
}

.custom-slider .rc-slider-handle {
    background-color: yellow;      /* Cambia el color a amarillo */
    border-color: yellow;          /* Cambia el color del borde a amarillo */
}

/* custom.css */
.custom-slider {
    margin-top: -40px;              /* Ajusta la posición desde arriba */
    margin-left: 250px;             /* Ajusta de la posición desde la izquierda */
}